@import url('https://fonts.googleapis.com/css2?family=Roboto');

body, p { 
    font-size: 15px; 
    color: #343944; 
    font-family: Roboto;
}

td, th { 
    font-size: 11px; }

h1.title { 
    color: white; 
}
p.subtitle { 
    color: white;
}

h1, h2  { 
    color: #028577; } 

.oi-ec050e-input>input[type=range] { 
    color: #028577; }

.footer { 
    color: #028577;
    padding: 10px; }
    
.flex-container {
  display: flex;
  padding: 10px; 
  align-items: center;
  justify-content: center;
}
